# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [ ]:
path = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'
crime = pd.read_csv(path)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [ ]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [ ]:
crime['Year'] = pd.to_datetime(crime['Year'])
crime['Year'].dtype

dtype('<M8[ns]')

### Step 6. Set the Year column as the index of the dataframe

In [ ]:
crime = crime.set_index(crime['Year'] , drop=True)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,,
1970-01-01 00:00:00.000001960,1970-01-01 00:00:00.000001960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-01-01 00:00:00.000001961,1970-01-01 00:00:00.000001961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1970-01-01 00:00:00.000001962,1970-01-01 00:00:00.000001962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1970-01-01 00:00:00.000001963,1970-01-01 00:00:00.000001963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1970-01-01 00:00:00.000001964,1970-01-01 00:00:00.000001964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [ ]:
crime.drop(columns= 'Year' , axis=1 , inplace=True)
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1970-01-01 00:00:00.000001960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1970-01-01 00:00:00.000001961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1970-01-01 00:00:00.000001962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1970-01-01 00:00:00.000001963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1970-01-01 00:00:00.000001964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [ ]:
crime.drop(columns= 'Total' , axis=1 , inplace=True)

In [ ]:
crime.columns

Index(['Year', 'Population', 'Violent', 'Property', 'Murder', 'Forcible_Rape',
       'Robbery', 'Aggravated_assault', 'Burglary', 'Larceny_Theft',
       'Vehicle_Theft'],
      dtype='object')

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [27]:
print(crime.index.year.unique())

Index([1970], dtype='int32', name='Year')

In [24]:
crime['decades'] = (crime.index.year // 10) * 10
crime['decades']

Year
1970-01-01 00:00:00.000001960    1970
1970-01-01 00:00:00.000001961    1970
1970-01-01 00:00:00.000001962    1970
1970-01-01 00:00:00.000001963    1970
1970-01-01 00:00:00.000001964    1970
1970-01-01 00:00:00.000001965    1970
1970-01-01 00:00:00.000001966    1970
1970-01-01 00:00:00.000001967    1970
1970-01-01 00:00:00.000001968    1970
1970-01-01 00:00:00.000001969    1970
1970-01-01 00:00:00.000001970    1970
1970-01-01 00:00:00.000001971    1970
1970-01-01 00:00:00.000001972    1970
1970-01-01 00:00:00.000001973    1970
1970-01-01 00:00:00.000001974    1970
1970-01-01 00:00:00.000001975    1970
1970-01-01 00:00:00.000001976    1970
1970-01-01 00:00:00.000001977    1970
1970-01-01 00:00:00.000001978    1970
1970-01-01 00:00:00.000001979    1970
1970-01-01 00:00:00.000001980    1970
1970-01-01 00:00:00.000001981    1970
1970-01-01 00:00:00.000001982    1970
1970-01-01 00:00:00.000001983    1970
1970-01-01 00:00:00.000001984    1970
1970-01-01 00:00:00.000001985    1970
1970-01-01 00:00:00.000001986    1970
1970-01-01 00:00:00.000001987    1970
1970-01-01 00:00:00.000001988    1970
1970-01-01 00:00:00.000001989    1970
1970-01-01 00:00:00.000001990    1970
1970-01-01 00:00:00.000001991    1970
1970-01-01 00:00:00.000001992    1970
1970-01-01 00:00:00.000001993    1970
1970-01-01 00:00:00.000001994    1970
1970-01-01 00:00:00.000001995    1970
1970-01-01 00:00:00.000001996    1970
1970-01-01 00:00:00.000001997    1970
1970-01-01 00:00:00.000001998    1970
1970-01-01 00:00:00.000001999    1970
1970-01-01 00:00:00.000002000    1970
1970-01-01 00:00:00.000002001    1970
1970-01-01 00:00:00.000002002    1970
1970-01-01 00:00:00.000002003    1970
1970-01-01 00:00:00.000002004    1970
1970-01-01 00:00:00.000002005    1970
1970-01-01 00:00:00.000002006    1970
1970-01-01 00:00:00.000002007    1970
1970-01-01 00:00:00.000002008    1970
1970-01-01 00:00:00.000002009    1970
1970-01-01 00:00:00.000002010    1970
1970-01-01 00:00:00.000002011    1970
1970-01-01 00:00:00.000002012    1970
1970-01-01 00:00:00.000002013    1970
1970-01-01 00:00:00.000002014    1970
Name: decades, dtype: int32

In [29]:
df = crime.drop(columns='Population' )
group_by_decades = df.groupby('decades').sum()
group_by_decades

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
decades,,,,,,,,,
1970,65384309,517687418,952448,3999314,22904744,37464999,133320955,327797108,56573743

### Step 9. What is the most dangerous decade to live in the US?