# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(path , sep = '\t')

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
chipo.shape[0]

4622

In [6]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
# chipo.shape[1]
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [8]:
for i in chipo.columns:
  print(i)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [9]:
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
print(chipo['item_name'].mode())

0    Chicken Bowl
Name: item_name, dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
len(chipo[chipo['item_name']=='Chicken Bowl'])

726

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
print(chipo['choice_description'].mode())

0    [Diet Coke]
Name: choice_description, dtype: object

# Step 12. How many items were orderd in total?

In [13]:
print(chipo['quantity'].sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [20]:
chipo['item_price'] = chipo['item_price'].str.replace("$" , "")
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [25]:
chipo['item_price'] = chipo['item_price'].astype('float32')

#### Step 13.b. Create a lambda function and change the type of item price

In [24]:
change_type = lambda x: x['item_price'].astype('float32')
change_type(chipo)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float32

#### Step 13.c. Check the item price type

In [26]:
print(chipo['item_price'].dtype)

float32

### Step 14. How much was the revenue for the period in the dataset?

In [27]:
revenue = chipo['item_price'].sum()
print(f'Revenue is : ' , revenue)

Revenue is :  34500.16

### Step 15. How many orders were made in the period?

In [29]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [38]:
a = revenue / chipo['order_id'].nunique()
print(a)

18.811428

In [44]:
# Solution 2

a = chipo.groupby('order_id')['item_price'].sum()
b = a.mean()
print(b)

18.811428

### Step 17. How many different items are sold?

In [51]:
different_iteam_solded = chipo['item_name'].nunique()
print(f'The different types of items are solded are : {different_iteam_solded}')

The different types of items are solded are : 50