# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
path = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
baby_names = pd.read_csv(path)

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names.drop(columns=['Unnamed: 0' , 'Id'] , inplace=True)

In [5]:
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

In [13]:
baby_names.columns

Index(['Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

### Step 6. Is there more male or female names in the dataset?

In [16]:
baby_names.groupby('Gender')['Count'].sum().sort_values(ascending=False)

Gender
M    19041199
F    16380293
Name: Count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [29]:
names = baby_names.groupby(['Name' , 'Year'])['Count'].sum().sort_index(level='Year')
names

Name     Year
Aadi     2004     8
Aahil    2004     5
Aakash   2004    13
Aalayah  2004     5
Aaliah   2004    10
                 ..
Zyon     2014    73
Zyonna   2014    19
Zyra     2014    13
Zyria    2014     5
Zyriah   2014     6
Name: Count, Length: 106608, dtype: int64

### Step 8. How many different names exist in the dataset?

In [30]:
baby_names['Name'].nunique()

17632

### Step 9. What is the name with most occurrences?

In [31]:
baby_names['Name'].mode()

0    Riley
Name: Name, dtype: object

### Step 10. How many different names have the least occurrences?

In [37]:
name_occurance = baby_names.groupby('Name')['Count'].sum().sort_values()
name_occurance

Name
Shabd            5
Gatlyn           5
Gaspard          5
Garvin           5
Brizia           5
             ...
Isabella    204798
Ethan       209277
Michael     214405
Emma        214852
Jacob       242874
Name: Count, Length: 17632, dtype: int64

In [40]:
len(name_occurance[name_occurance == 5])

2578

### Step 11. What is the median name occurrence?

In [41]:
name_occurance.median()

49.0

### Step 12. What is the standard deviation of names?

In [42]:
name_occurance.std()

11006.069467890567

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [43]:
name_occurance.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64